@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/poiret-one'; /* Default weight is normal (400) */
@import '@fontsource/metropolis'; /* Default weight is normal (400) */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poiret One", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Metropolis", Arial, Helvetica, sans-serif; /* For headings */
}
